[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Encode
Comment=GUI for Encoding Videos
Exec=/usr/bin/Encode.gambas
Icon=/usr/share/pixmaps/encode.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Video;
