[Desktop Entry]
Type=Application
Version=1.0
Name=Remote Filesystems
GenericName=Gigolo
GenericName[bg]=Gigolo
GenericName[ca]=Gigolo
GenericName[cs]=Gigolo
GenericName[da]=Gigolo
GenericName[de]=Gigolo
GenericName[el]=Gigolo
GenericName[es]=Gigolo
GenericName[fr]=Gigolo
GenericName[gl]=Gigolo
GenericName[id]=Gigolo
GenericName[it]=Gigolo
GenericName[ja]=Gigolo
GenericName[pt_BR]=Gigolo
GenericName[sv]=Gigolo
GenericName[tr]=Gigolo
Comment=A simple frontend to easily connect to remote filesystems
Comment[bg]=Прост интерфейс за лесно свързване към отдалечени файлови системи
Comment[ca]=Una interfície simple per connectar-se a sistemes de fitxers remots
Comment[cs]=Jednoduché rozhraní pro snadné připojení ke vzdáleným souborovým systémům
Comment[da]=En simpel grænseflade til nemt at forbinde til eksterne filsystemer
Comment[de]=Eine einfache Oberfläche zum Einbinden entfernter Dateisysteme
Comment[el]=Ένα απλό εργαλείο για την εύκολο σύνδεση σε απομακρυσμένα συστήματα αρχείων
Comment[es]=Una interfaz sencilla para conectarse fácilmente a sistemas de archivos remotos
Comment[fr]=Une interface simple pour se connecter facilement à des systèmes de fichiers à distance
Comment[gl]=Unha sinxela interface para conectar facilmente a sistemas de ficheiros remotos
Comment[id]=Ujung depan sederhana untuk memudahkan sambungan ke sistem berkas jarak jauh
Comment[it]=Una semplice interfaccia per connettersi a filesystem remoti
Comment[ja]=リモートファイルシステムに簡単に接続するシンプルなフロントエンド
Comment[pt_BR]=Uma interface simples para conectar facilmente a sistemas de arquivos remotos
Comment[sv]=Ett enkelt gränssnitt för att enkelt ansluta till fjärrfilsystem
Comment[tr]=Uzaktaki dosya sistemlerine bağlanmak için basit bir arayüz
Exec=gigolo
Icon=gtk-network
Terminal=false
Categories=System;GTK;Filesystem;
StartupNotify=true
