[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Application Finder
Name[be]=Шукач дастасаваньняў
Name[ca]=Cercador d'aplicacions
Name[cs]=Vyhledávač aplikací
Name[da]=Programfinder
Name[de]=Anwendungsfinder
Name[el]=Εύρεση εφαρμογών
Name[en_GB]=Application Finder
Name[es]=Buscador de aplicaciones
Name[eu]=Aplikazio bilatzailea
Name[fi]=Sovellusten hakutyökalu
Name[fr]=Liste des applications
Name[gl]=Buscador de aplicacións
Name[hu]=Alkalmazás-kereső
Name[id]=Pencari Aplikasi
Name[ja]=アプリケーションファインダ
Name[ko]=응용프로그램 검색
Name[ku]=Bînerê Sepanan
Name[lv]=Lietotņu meklētājs
Name[nb]=Programkatalog
Name[nl]=Toepassingen Zoeken
Name[pl]=Wyszukiwanie programów
Name[pt]=Localizar Aplicações
Name[pt_BR]=Localizador de aplicativos
Name[si]=යෙදුම් සෙවුම
Name[sv]=Programlista
Name[tr]=Uygulama Bulucu
Name[uk]=Пошук встановлених програм
Name[zh_CN]=程序查找工具
Comment=Find and launch applications installed on your system
Comment[be]=Шукае й запускае ўсталяваныя дастасаваньні
Comment[ca]=Cerca i executa aplicacions instaŀlades al sistema
Comment[cs]=Umožňuje najít a spouštět aplikace nainstalované v systému.
Comment[da]=Find og start programmer, som er installeret på systemet
Comment[de]=Im System installierte Anwendungen finden und starten
Comment[el]=Εύρεση και εκτέλεση εγκατεστημένων εφαρμογών στο σύστημά σας.
Comment[en_GB]=Find and launch applications installed on your system
Comment[es]=Encuentre y ejecute aplicaciones instaladas en el sistema
Comment[eu]=Bilatu eta abiarazi sisteman instalatutako aplikazioak
Comment[fi]=Etsi ja käynnistä järjestelmään asennettuja sovelluksia
Comment[fr]=Rechercher et lancer des applications installées sur le système
Comment[gl]=Busque e execute aplicacións instaladas no sistema
Comment[hu]=A rendszerre telepített alkalmazások keresése és futtatása
Comment[id]=Mencari dan menjalankan aplikasi terinstal di sistem anda
Comment[ja]=システムにインストールされたアプリケーションの検索および起動を行います
Comment[nb]=Finn og kjør programmer installert på datamaskinen din
Comment[pl]=Wyszukuje i uruchamia programy zainstalowane w systemie
Comment[pt]=Encontra e lança aplicações instaladas no sistema
Comment[pt_BR]=Localize e execute aplicativos instalados no seu sistema
Comment[si]=ඔබගේ පද්ධතියේ ස්ථාපනය කර ඇති යෙදුම් සොයා ක්‍රියාත්මක කරන්න
Comment[sv]=Sök och starta program som är installerade på din dator
Comment[tr]=Sisteminde kurulu uygulamaları bul ve başlat
Comment[uk]=Шукати та запускати програми встановлені в Вашій системі
Comment[zh_CN]=查找并启动您系统上安装的程序
Exec=xfce4-appfinder
Icon=xfce4-appfinder
StartupNotify=true
Terminal=false
Type=Application
Categories=X-XFCE;Utility;
