nb_lines=4
nb_launcher=4
extra_spacing=0
has_tooltips=true
has_labels=false

[launcher_4]
command=thunar
name=Thunar
icon_id=2

[launcher_3]
command=firefox
name=Firefox
icon_id=7

[launcher_2]
command=deadbeef
name=Deadbeef
icon_name=/usr/share/icons/BeOS/apps/24/deadbeef.png
icon_id=21

[launcher_1]
command=claws-mail
name=claws-mail
icon_name=/usr/share/icons/BeOS/apps/24/clawsmail.png
icon_id=21

